# Dependências principais
Flask==2.3.2
python-dotenv==1.0.0
mercadopago==2.0.3

# Para envio de e-mails
flask-mail==0.9.1
pyzmail36==1.0.4

# Para logs (opcional)
loguru==0.7.0

# Segurança
python-decouple==3.8
